---
#{{ ansible_managed }}
# Remember, leave a key empty if there is no value. None will be a string,
# not a Python "NoneType"
client:
  hosts:
  {% for item in elasticsearch_nodes %}
    - {{ item }}
  {% endfor %}

  port: {{ elasticsearch_port }}
  url_prefix:
  use_ssl: False
  certificate:
  client_cert:
  client_key:
  aws_key:
  aws_secret_key:
  aws_region:
  ssl_no_validate: False
  http_auth:
  timeout: 30
  master_only: {{ curator_master_only|bool }}

logging:
  loglevel: {{ curator_log_level }}
  logfile: {{ curator_log_dir }}/{{ curator_log_file }}
  logformat: default
  blacklist: []
